#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  margin: 0
}
.gui {
  position: absolute;
  background-color: grey;
  color: white;
  padding:8px;
  flex-grow:column wrap;
  
}

.mine {
  color: green
}

.hidden{
  display: none;
}
